/* Variables*/
:root{
    --color-primario:#1A2B4A;
    --color-secundario: #66079c;
    --color-acento:#028090;
    --fuente: "Inter", sans-serif;
    --color-fondo: #f6f6f6;
    --color-texto: #1A1A1A;
;}
/* Reset básico*/
*{ 
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html { scroll-behavior: smooth; }

body{
    background-color: var(--color-fondo);
    font-family: var(--fuente);
    font-size: 16px;
    color: var(--color-texto);
    max-width: auto;
    margin: 0 auto;
    padding: 0 1rem;
}
/* Header*/
header{
    background: var(--color-primario);
    color: white;
    margin: auto;
    position: sticky;
    top: 0;
}

body.modo-oscuro {
    background-color: #1A1A1A;
    color: #F1F1F1;
}
body.modo-oscuro p{
    color: #F1F1F1;
}

body.modo-oscuro h2{
    color: var(--color-acento)  !important;
}

body.modo-oscuro h3{
    color: var(--color-acento)  !important;
}

body.modo-oscuro header {
    background-color: #0D0D0D;
}

body.modo-oscuro .card {
    background-color: #2A2A2A;
    border-color: #444;
}

body.modo-oscuro .card-text {
    color: #CCCCCC;
}


/* Navegación*/

.navbar{
    display: flex;
    position: sticky;
    top: 0;

}
/* Imagen Principal*/
.navbar-brand img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar ul{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.navbar ul li{
    list-style: none;
    font-size: 1rem;
    margin-right: auto;
    justify-content: center;
}


.nav-link:hover{
    transition: 0.3s ease;
    color: var(--color-acento);
}

.navbar h1{ 
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
}

p{
    color: #1a1a1a;   
}

#objetivo h2{
    color: var(--color-primario);
    padding-bottom: 1rem;
    font-size: 2rem;
}

#objetivo p{
    letter-spacing: 1.3px;
    font-size: 1.2rem;
}

/* Tabla*/
#colaboradores h2{
    color: var(--color-primario);
    padding-bottom: 1rem;
    font-size: 2rem;
}
#colaboradores{
    text-align: left;
    table-layout: fixed;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
    border-top: hidden;
    border-collapse: collapse;

}
/* Tabla*/
table{
    overflow: auto;
    width: 100%;
    border: 3px solid white;
    background-color:#1A2B4A;
}
/* Tabla*/
th{

    color:white;
    text-align: center;
}
/* Tabla*/
tr{
    color: white;
}
/* Tabla*/
td{
    border: 1px solid white;
    padding: 16px 32px;
}
/* Tabla*/
tr td:last-child {
    padding-left: auto;
    margin-left: auto;
    text-align: center;
}
/* Main*/
main{
    margin: auto;
    padding: auto;
}
section{
    padding: 5rem 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

#mision h2{
    color: var(--color-primario);
    padding-bottom: 1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#mision{
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
    margin-bottom: 1rem;
    align-items: center;
}
#mision p{
    font-size: 1.2rem;
    letter-spacing: 1.3px;
}
#mision img{
    width: 200%;
    border-radius: 8px;
    object-fit: cover;
    max-width: 200px;
}

/* Formulario*/
#ayudas{
    margin: auto;
    padding: auto;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
    border-top: hidden;
    border-collapse: collapse;
}
/* Formulario*/
#ayudas h3{
    letter-spacing: 1.3px;
    font-size: 2rem;
    color: var(--color-primario);
    margin-bottom: 1rem;
}
/* Formulario*/
#ayudas p{
    font-size: 1.2rem;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
/* Formulario*/
form{
    color: var(--color-secundario);
}
/* Formulario*/
label {
    padding: auto;
    margin: auto;
    justify-content: center;
}
/* Formulario*/
input{
    padding: 2px 8px;
    background-color: var(--color-primario);
    color: #F7F9FA;
    margin-bottom: 1rem;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
    border-top: hidden;
    border-collapse: collapse;
    border: 2px solid var(--color-secundario);
}
/* Formulario*/
button{
    background-color: var(--color-primario);
    color: #F7F9FA;
    padding: 8px 16px;
    border: 2px solid var(--color-secundario);
    text-transform: uppercase;
}
 button:hover{
    background-color: var(--color-secundario);
    color: #F7F9FA;
    border: 2px solid var(--color-primario);
 }


#main h2{
    color: var(--color-primario);
    text-align: center;
    padding-top: 2rem;
    letter-spacing: 1.4px;
    font-size: 2rem;
    text-transform: uppercase;
}

#historia h3{
    color: var(--color-primario);
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

#historia p{
    letter-spacing: 1.3px;
    font-size: 1.2rem;
}

#valores{
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
}

#valores h3{
    color: var(--color-primario);
    text-align: center;
}

#valores ul{
    display: flex;
    overflow: auto;
    list-style: none;
    justify-content: center;
    text-align: center;
}

#valores ul li strong{
    color: var(--color-secundario);
    padding-right: 0.5rem;
    font-size: 1.2rem;
}

#valores li p{
    text-align: center;
}


#datos{
    display: flex;
    justify-content: center;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
    border-top: hidden;
    border-collapse: collapse;
    border: 2px solid var(--color-secundario);
}

#datos h3{
    display: flex;
    text-align: left;
    padding-right: 10rem;
    padding-top: 11rem;
}

#datos dl dt{
    font-size: 1.2rem;
    font-weight: 900;
    padding-bottom: 3px;
}
#datos dl dt dd{
    font-size: 0.5rem;
}
.card{
    border: 1px solid #028090;
}

.card-body h5, p{
    text-align: left;
}

.card-body h5{
    color: var(--color-acento);
    font-size: 1.2rem;
    font-weight: 900;
}

.card-body p{
    font-weight: 700;
}


#titulo-programas{
    color: var(--color-primario);
    text-align:center;
    padding: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
}

#atencion-medica, #medicamentos, #educacion{
    border: 2px solid var(--color-secundario);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    letter-spacing: 1.3px;
    font-size: 1.2rem;
}

#atencion-medica, #medicamentos, #educacion, h3{
    color: var(--color-acento);
}

#atencion-medica h3{
    font-weight: 900;
}

#medicamentos h3{
    font-weight: 900;
}

#educacion h3{
    font-weight: 900;
}

#atencion-medica, #medicamentos, #educacion, strong{
    color: var(--color-secundario);
    font-weight: 700;
}

#nuestros-contactos{
    border: 2px solid var(--color-secundario);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    letter-spacing: 1.3px;
    font-size: 1.2rem;
}

#nuestros-contactos h2{
    color: var(--color-primario);
    text-align:center;
    padding: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
}

#nuestros-contactos a{
    color: var(--color-acento);
    text-decoration: none;
}

#nuestros-contactos a:hover{
    text-decoration: underline;
}

footer{
    background-color: var(--color-primario);
    padding: 1.5rem;
    margin-top: auto;
    border: 2px solid #028090;
}

footer p{
    text-align: center;
    color: white;
    padding: 8px;
}